* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Abel-Text-Secondary';
  src: url('../public/fonts/Abel-Regular.ttf') format('truetype');
  font-weight: 'normal';
}

@font-face {
  font-family: 'BeauRivage-Text-Main';
  src: url('../public/fonts/BeauRivage-Regular.ttf') format('truetype');
  font-weight: 'normal';
}

@font-face {
  font-family: 'Philospher-Header';
  src: url('../public/fonts/Philosopher-Italic.ttf') format('truetype');
  font-weight: 'normal';
}

@font-face {
  font-family: 'HoneyFlorist';
  src: url('../public/fonts/Honey-Florist-Personal-Use.otf') format('opentype');
  font-weight: 'normal';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Abel-Text-Secondary;
}

#__next {
  flex: 1 1 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}